@model Ints.DesafioInts.Application.ViewModels.ClienteViewModel

@{
    ViewBag.Title = "Visualizar Cliente";
}

<h3>Visualizar Cliente</h3>
<hr />

<div class="form-group">
    <div class="row">
        <div class="col-md-12">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PorteEmpresa.Descricao)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PorteEmpresa.Descricao)
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="btn-group">
    @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default" })
    @Html.ActionLink("Atualizar Cliente", "Edit", new { id = Model.ClienteId }, new { @class = "btn btn-success" })
</div>
