@model IEnumerable<Ints.DesafioInts.Application.ViewModels.ClienteViewModel>

@{
    ViewBag.Title = "Index";
}

<h3>Clientes</h3>
<hr /><br />

<div class="panel panel-default">
    <div class="panel-heading ">
        <i class="glyphicon glyphicon-filter"></i> Filtros
        <a href="@Url.Action("Index", "Clientes")" class="btn btn-default">
            <span class="glyphicon glyphicon-refresh"></span>
            Limpar Filtro
        </a>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.ActionLink("Somente Grande", "Index", "Clientes", new { buscaTipo = 3 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Somente Média", "Index", "Clientes", new { buscaTipo = 2 }, new { @class = "btn btn-default" })
                    @Html.ActionLink("Somente Pequena", "Index", "Clientes", new { buscaTipo = 1 }, new { @class = "btn btn-default" })
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                @using (Html.BeginForm(null, null, FormMethod.Get))
                {
                    <div class="form-group">
                        <div class="input-group">
                            <input type="text" class="form-control" name="buscaNome" placeholder="Buscar por Nome...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit">Buscar</button>
                            </span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <i class="glyphicon glyphicon-list"></i> Listagem 
        <a href="@Url.Action("Create", "Clientes")" class="btn btn-default">
            <span class="glyphicon glyphicon-plus"></span>
            Novo Cliente
        </a>
    </div>
    <div class="panel-body">
        <table id="tabela-cliente" class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PorteEmpresaId)
                </th>
                <th>Opções</th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @item.PorteEmpresa.Descricao
                    </td>
                    <td>
                        @Html.ActionLink("Visualizar", "Details", new { id = item.ClienteId }, new { @class = "btn btn-success btn-xs" })
                        @Html.ActionLink("Atualizar", "Edit", new { id = item.ClienteId }, new { @class = "btn btn-warning btn-xs" })
                        <button class="btn btn-danger btn-xs deletar-cliente" data-cliente-id="@item.ClienteId">Excluir</button>
                    </td>
                </tr>
            }

        </table>
    </div>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
}
@section Scripts {
    <script>
        $("body").on("click", "#tabela-cliente .deletar-cliente", function () {
            if (confirm("Tem certeza que quer excluir este registro?")) {
                var buttonElement = $(this);
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("DeleteClienteAjax", "Clientes")?id=' + buttonElement.data('cliente-id'),
                    data: {
                        '__RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                    },
                    success: function (response) {
                        location.reload();
                    }
                });
            }
        });
    </script>
}