@model IEnumerable<Ints.DesafioInts.Application.ViewModels.PorteEmpresaViewModel>

@{
    ViewBag.Title = "Listar Porte Empresa";
}

<h2>Porte Empresas</h2>
<hr /><br />

<p>
    @Html.ActionLink("Cadastrar Porte Empresa", "Create", null, new { @class = "btn btn-default" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descricao)
        </th>
        <th>Opções</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descricao)
        </td>
        <td>
            @Html.ActionLink("Visualizar", "Details", new { id = item.PorteEmpresaId }, new { @class = "btn btn-success btn-xs" })
            @Html.ActionLink("Atualizar", "Edit", new { id = item.PorteEmpresaId }, new { @class = "btn btn-warning btn-xs" })
            @Html.ActionLink("Excluir", "Delete", new { id = item.PorteEmpresaId }, new { @class = "btn btn-danger btn-xs" })
        </td>
    </tr>
}

</table>
